.slider {
	width: 100%;
	height: 100%;
	position: relative;
}

.slider__content {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}

.slider__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-shrink: 0;
}

.slider__img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.slider__img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: contain;
}

.slider__controls {
	width: 108%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: -4%;
	transform: translateY(-50%);
}