.slider {
	width: 100%;
	height: 100%;
	position: relative;
}

.slider__content {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}

.slider__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-shrink: 0;
}

.slider__img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.slider__img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: contain;
}

.slider__controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	box-sizing: border-box;
	padding: 0 16px;
}

.slider__controls button {
	background-color: #000000;
	color: white;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding: 0;
	opacity: 0.4;
}

.slider--modal {
	height: 100%;
}

.slider--modal .slider__content,
.slider--modal .slider__container,
.slider--modal .slider__img {
	height: 100%;
}

.slider--modal .slider__controls {
	padding: 0 32px;
}

@media (max-width: 600px) {
	.slider__controls {
		width: 126%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 50%;
		left: -13%;
		transform: translateY(-50%);
		box-sizing: border-box;
		padding: 0 16px;
	}

	.slider__controls button {
		background-color: #000000;
		color: white;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		padding: 0;
		opacity: 0.4;
	}
}